.filterContainer {
    height: auto;
    padding: 0 20px 0 20px;
    align-items: center;
    margin-top: 90px;
}

.headerContainer {
    text-align: left;
}

.headerContainer p {
    margin: 0px;
    padding: 0px;
}

.headerTitle {
    font-size: 24px;
    font-weight: 600;
}

/* .headerSubTitle {
    font-size: 16px;
    margin-top: 8px;
    font-weight: 400px;
    color: #828282;
} */

.fliters {
    padding: 8px 0px 8px 0px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.icon {
    padding: 10px;
    color: #BDBDBD;
    height: 30px !important;
    width: 30px !important;
}

.searchField {
    width: 40%;
}

.vl {
    border-left: 2px solid #BDBDBD;
    height: 50px;
    margin-left: 20px;
}

.locationDropdown {
    width: 35%;
}

.findEmployees {
    padding: 8px;
    background-color: #2A252E;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
    width: 15%;
    font-size: 18px;
}
